{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": false,
  "plugins": [
    "prettier-plugin-tailwindcss-canonical-classes",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn", "clsx", "cva", "twMerge", "twJoin"]
}
